<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aislon</title>

</head>
<body>
    <h1>hi world</h1>
    




<script>

  // Check if URL contains invite_token
  if (window.location.hash.includes('invite_token')) {
    const currentHash = window.location.hash;
    const adminPath = '/admin/' + currentHash;
    
    // Redirect while preserving the token
    window.location.href = adminPath;
  }
</script>

</body>
</html>