<!DOCTYPE html>
<html data-bs-theme="light" lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Technophone - Smartphone &amp; Aksesore</title>
    <meta property="og:image" content="">
    <meta name="description" content="Smartphone per te gjithe familjen, produkte cilesore nga brande zyrtare. Mundesi blerjesh me keste online dhe transport ne te gjithe Shqiperine.">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/shopping-bag.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/shopping-bag%20(1).png">
    <link rel="icon" type="image/png" sizes="128x128" href="assets/img/shopping-bag%20(2).png">
    <link rel="icon" type="image/png" sizes="128x128" href="assets/img/shopping-bag%20(2).png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/shopping-bag%20(4).png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/ABeeZee.css">
    <link rel="stylesheet" href="assets/css/Bebas%20Neue.css">
    <link rel="stylesheet" href="assets/css/Gilroy.css">
    <link rel="stylesheet" href="assets/css/GilroyBold.css">
    <link rel="stylesheet" href="assets/css/Poppins.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/adaptive-em.compiled.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/generator.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/scrollbar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<html lang="sq">
</head>

<body style="font-family: Gilroy;">
    <header>
        <nav class="navbar navbar-expand-md navigation-clean-button navbar-light" style="font-family: GilroyBold;">
            <div class="container"><a class="navbar-brand" href="/" style="color: rgb(0,37,237);font-family: 'Bebas Neue';font-size: 1.8em;">TECHNOPHONE</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto"></ul><span class="navbar-text actions"> <a class="btn btn-primary shadow-lg hvr-grow" role="button" style="color: rgb(102,102,102);border-color: transparent;font-size: 1.1em;font-family: GilroyBold;border-radius: 0.25em;padding-top: 0.37em;padding-bottom: 0.37em;padding-right: 0.75em;padding-left: 0.75em;background: rgba(13,110,253,0);margin-right: 10px;" href="rreth-nesh.html">Rreth Nesh</a><a class="btn btn-primary shadow-lg hvr-grow" role="button" style="color: rgb(255,255,255);border-color: transparent;font-size: 1.1em;font-family: GilroyBold;border-radius: 0.25em;padding-top: 0.37em;padding-bottom: 0.37em;padding-right: 0.75em;padding-left: 0.75em;background: rgb(0,37,237);" href="kontakt.html">&nbsp;Kontakto&nbsp;<i class="far fa-paper-plane" style="font-size: 1em;margin-left: 0px;margin-top: 0px;"></i></a></span>
                </div>
            </div>
        </nav>
    </header>
    <div id="headertext">
        <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="font-family: 'Bebas Neue';font-size: 2.8em;color: rgb(0,37,237);margin-top: 0.5em;margin-bottom: -5px;"><strong>TECHNOPHONE</strong></h1>
        <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="font-family: 'Bebas Neue';font-size: 1.5em;color: rgb(0,37,237);"><strong>SMARTPHONE&nbsp;&amp; AKSESORE</strong></h1>
    </div>
    <div id="mobilenavigation" class="mobileonly" style="position: fixed;width: 100%;overflow: hidden;position: fixed;bottom: 0;z-index: 1000;margin-bottom: 0px;transition: bottom 0.25s;margin-right: 0%;margin-left: 0%;box-shadow: 0px -5px 20px rgba(33,37,41,0.27);"><script>

    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("mobilenavigation").style.bottom = "-50px";
      } else {
        document.getElementById("mobilenavigation").style.bottom = "0";
      }
      prevScrollpos = currentScrollPos;
    }</script>
        <div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" style="width: 100%;z-index: 1000;height: 4.6em;background: rgb(255,255,255);padding-bottom: 31px;border-radius: 0;padding-left: 7px;padding-right: 7px;margin-bottom: 0px;padding-top: 5px;"><a class="d-flex justify-content-center" href="#" style="text-decoration: none !important;height: 100%;width: 32%;">
                <div class="d-flex flex-column justify-content-center align-items-center mobileonly" style="width: 22%;background: rgba(208,208,208,0);height: 90%;border-radius: 0.25em;margin-right: 5px;margin-left: 5px;color: rgb(0,0,0);opacity: 1;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-smart-home" style="font-size: 1.8em;-webkit-background-clip: text;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105"></path>
                        <path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0"></path>
                    </svg>
                    <p style="margin-bottom: -20px;font-size: 12px;font-family: GilroyBold;"><strong>Celulare</strong></p>
                </div>
            </a><a class="d-flex justify-content-center" href="aksesore.html" style="text-decoration: none !important;height: 100%;width: 32%;">
                <div class="d-flex flex-column justify-content-center align-items-center mobileonly" style="background: rgba(208,208,208,0);height: 90%;border-radius: 0.25em;margin-right: 5px;margin-left: 5px;color: rgb(0,0,0);opacity: 0.50;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-stack" style="font-size: 1.8em;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 6l-8 4l8 4l8 -4l-8 -4"></path>
                        <path d="M4 14l8 4l8 -4"></path>
                    </svg>
                    <p style="margin-bottom: -20px;font-size: 12px;font-family: GilroyBold;">Aksesore</p>
                </div>
            </a><a class="d-flex justify-content-center" href="#searchbox" style="text-decoration: none !important;height: 100%;width: 32%;">
                <div class="d-flex flex-column justify-content-center align-items-center mobileonly" style="width: 22%;background: rgba(208,208,208,0);height: 90%;border-radius: 0.25em;margin-right: 5px;margin-left: 5px;color: rgb(0,0,0);opacity: 0.50;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="font-size: 1.8em;">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z" fill="currentColor"></path>
                    </svg>
                    <p style="margin-bottom: -20px;font-size: 12px;font-family: GilroyBold;">Kerko</p>
                </div>
            </a></div>
    </div>
    <div id="desktophead">
        <div style="padding: 0.1em;background-color: #f4f4f4;margin-bottom: 0px;">
            <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-left: 0%;margin-top: 60px;font-family: 'Bebas Neue';font-size: 4.5em;color: rgb(0,37,237);"><strong>TECHNOPHONE</strong></h1>
            <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-left: 0%;margin-top: 0px;font-family: 'Bebas Neue';font-size: 1.5em;color: rgb(2,42,255);margin-bottom: 1em;"><strong>SMARTPHONE &amp; AKSESORE</strong></h1>
        </div>
    </div>
    <div id="mobilehead"></div>
    <div id="cikoGallery"><input class="shadow-lg d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-center search" type="search" id="searchbox" style="margin-left: auto;margin-right: auto;margin-top: 3.5em;height: 3em;width: 15em;font-family: ABeeZee, sans-serif;padding: 5px;color: rgb(0,0,0);border-color: transparent;font-size: 1em;text-align: center;background: #e2e5ff;" placeholder="Kerko produktin..">
        <div class="d-flex d-xl-flex flex-row justify-content-center align-items-center align-content-center flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-start justify-content-xl-center align-items-xl-center list" id="bushiGallery" style="margin-top: 1em;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;"><a class="d-flex justify-content-center align-items-center align-content-center hvr-grow" id="link" href="/product.html?origin=0" style="border-color: #e3e3e3;border-radius: 8px;border-width: 4px;margin: 0.1em;margin-right: 0.3em;margin-left: 0.3em;margin-top: 0.4em;margin-bottom: 0.4em;">


            {% for product in collections.products %}
            {% include "layouts/productLink.njk" %}
          {% endfor %}
                <div id="divboxc" style="width: 9.6em;background-color: #ffffff;height: 17em;border-width: 2px;border-color: black;padding: 0px;box-shadow: 5px 5px 20px rgba(0,0,0,0.18);display: none;"><img class="img-fluid" id="image" loading="lazy" style="z-index: 5000;" src="assets/img/Loading.jpg">
                    <div>
                        <p id="brand" style="font-family: GilroyBold;font-size: 1em;margin-bottom: 0px;color: rgb(193,193,193);margin-left: 10px;"><strong>LOADING..</strong></p>
                        <p id="name" style="font-family: GilroyBold;font-size: 1.4em;margin-bottom: 0px;color: rgb(48,48,48);margin-left: 10px;margin-top: -2px;"><strong>Loading..</strong></p>
                        <p id="price" style="margin-left: 10px;margin-top: 0px;font-family: GilroyBold;font-size: 1.6em;color: rgb(255,15,0);"><strong>Loading..</strong><br></p>
                    </div>
                </div>
                <p class="d-none productname" id="search">samuel</p>
            </a></div>
    

    
    
        </div>
    <div><img class="img-fluid d-block" src="assets/img/watermelon.png" style="margin-left: auto;margin-right: auto;margin-bottom: 0px;margin-top: 5em;">
        <h1 class="text-center" style="font-size: calc(2em + 1vw);font-family: GilroyBold;color: rgb(44,82,178);margin-right: 4%;margin-left: 4%;">Me shume produkte ne linje!</h1>
        <p class="text-center" style="margin-top: 20px;font-family: GilroyBold;margin-bottom: 30px;margin-right: 5px;margin-left: 5px;color: rgb(122,122,122);"><strong>Nuk po gjen smartphonin tend te preferuar?</strong><br></p>
        <div class="text-center" style="margin-bottom: 3em;"><a class="btn btn-primary shadow-lg hvr-grow" role="button" style="color: rgb(255,255,255);border-color: transparent;font-size: 1.1em;font-family: GilroyBold;border-radius: 0.25em;padding-top: 0.37em;padding-bottom: 0.37em;padding-right: 0.75em;padding-left: 0.75em;background: rgb(255,85,106);margin-top: 0.4em;" href="/kontakt.html">&nbsp;Krijo nje Porosi&nbsp;<i class="fas fa-rocket" style="font-size: 1em;margin-left: 0px;margin-top: 0px;"></i></a><a class="btn btn-primary shadow-lg hvr-grow" role="button" style="color: rgb(102,102,102);border-color: transparent;font-size: 1.1em;font-family: GilroyBold;border-radius: 0.25em;padding-top: 0.37em;padding-bottom: 0.37em;padding-right: 0.75em;padding-left: 0.75em;margin-top: 0.4em;margin-left: 1em;background: rgba(13,110,253,0);" href="/kontakt.html">Kontakto</a></div>
    </div><script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script><script>
console.log("%cDLAB DESIGNS", "color:green; font-size: 2em; font-weight: bold");
console.log("%cReport Bugs at contact@samuelbushi.com", "color:green; font-size: 1.2em");
console.log("%cv0.7 - Biased Build.", "color:green; font-size: 0.8em font-weight: bold");
fetch("assets/js/db.json")
.then(function (response) {
  return response.json();
})
.then(function (data) {
 
     var idgen = data.length -1;


     for (idgen; idgen > -1; idgen--) {
      

      var link = document.createElement('a');
      link.id = "link"+idgen;
      link.classList.add('hvr-grow', 'prdlink', 'd-flex', 'justify-content-center', 'align-items-center', 'align-content-center');
      link.href = "product.html" +"?id=" + idgen;
      document.body.appendChild(link);  

      var divboxc = document.createElement('DIV');
      divboxc.classList.add("divcon");
      divboxc.classList.add('divboxc');
      document.body.appendChild(divboxc); 
      divboxc.id = "divboxc"+idgen;
      document.body.appendChild(divboxc);

      var imgcover = document.createElement('IMG');
      imgcover.loading = 'lazy';
      imgcover.classList.add('imgcover', 'imglazy', 'img-fluid');
      imgcover.id = "image"+idgen;
      if(data[idgen].fotoja != ""){
      imgcover.src = data[idgen].fotoja;}
      else{imgcover.src = "assets/img/nopic.jpg"}

      var paragraphbrand = document.createElement('p');
      paragraphbrand.classList.add('paragraphbrand');
      paragraphbrand.innerHTML = data[idgen].brand;
      paragraphbrand.id = "brand"+idgen; 

      
      var pname = document.createElement('p');
      pname.classList.add('pname');
      pname.innerHTML = data[idgen].produkt;
      pname.id = "name"+idgen; 

      
      var pprice = document.createElement('p');
      pprice.classList.add('pprice');
      pprice.innerHTML = data[idgen].cmimi + "L";
      pprice.id = "price"+idgen; 

      var searchp = document.createElement('p');
      searchp.classList.add('productname');
      searchp.innerHTML = data[idgen].cmimi + "L";
      searchp.id = "search"; 
      searchp.style.display = "none"
      searchp.textContent = data[idgen].brand + data[idgen].produkt;

        
    document.getElementById("galeriprodu").appendChild(link);
    document.getElementById("link" + idgen).appendChild(divboxc);
    document.getElementById("divboxc" + idgen).appendChild(imgcover); 
    document.getElementById("divboxc" + idgen).appendChild(paragraphbrand);
    document.getElementById("divboxc" + idgen).appendChild(pname);
    document.getElementById("divboxc" + idgen).appendChild(pprice);
    document.getElementById("link" + idgen).appendChild(searchp);




  }
    userList.reIndex();



})



</script>
    <footer style="margin-top: 1em;margin-bottom: 0px;">
        <div style="background: #ffffff;opacity: 0.33;">
            <p class="text-center" style="color: rgb(0,0,0);font-family: GilroyBold;font-size: 1em;margin-bottom: 0px;">TECHNOPHONE SQ</p>
            <p class="text-center" style="color: rgb(51,51,51);font-family: ABeeZee, sans-serif;font-size: 0.8em;margin-bottom: 5px;"><a href="https://samuelbushi.com/" target="_blank">MANAGED BY </a><a href="https://samuelbushi.com/" target="_blank"><strong>DLAB DESIGNS</strong></a></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/filter.js"></script>
    <script src="assets/js/iutecalculator.js"></script>
    <script src="assets/js/requirejs.js"></script>


    <script>

        // Check if URL contains invite_token
        if (window.location.hash.includes('invite_token')) {
          const currentHash = window.location.hash;
          const adminPath = '/admin/' + currentHash;
          
          // Redirect while preserving the token
          window.location.href = adminPath;
        }
      </script>      
      
</body>

</html>