<a id="link60" class="hvr-grow prdlink d-flex justify-content-center align-items-center align-content-center" href="product.html?id=60"><div class="divcon divboxc" id="divboxc60"><img loading="lazy" class="imgcover imglazy img-fluid" id="image60" src="https://www.mytrendyphone.eu/images/Samsung-Galaxy-S20-FE-Duos-128GB-Cloud-Navy-8806090716935-02102020-01-p.jpg"><p class="paragraphbrand" id="brand60">{{productTitle}}</p><p class="pname" id="name60">{{productTitle}}</p><p class="pprice" id="price60">55,000L</p></div><p class="productname" id="search" style="display: none;">SAMSUNG GALAXYS20 Fe</p></a>